<form action="#" id="loginForm">
    <div class="form-group"><label class="control-label">课程号</label> <input
        type="text" placeholder="请输入" title="" required [(ngModel)]="con.courseid"
        value="" name="name" id="name" class="form-control"> 
    </div>
    <div class="form-group"><label class="control-label">课程名</label> <input
        type="text" placeholder="请输入" title="" required [(ngModel)]="con.name"
        value="" name="name" id="name" class="form-control"> 
    </div>
    <div class="form-group"><label class="control-label">地点</label> <input
        type="text" placeholder="请输入" required [(ngModel)]="con.class"
        value="" name="class" id="class" class="form-control"> 
    </div>
    <div class="form-group"><label class="control-label" >开课时间</label> <input
        type="text" placeholder="请输入" required [(ngModel)]="con.time"
        value="" name="time" id="time" class="form-control"> 
    </div>
    <div class="form-group"><label class="control-label">开课周数</label> <input
        type="text" placeholder="请输入" required [(ngModel)]="con.week"
        value="" name="week" id="week" class="form-control"> 
    </div>
    <div class="form-group"><label class="control-label" >学生数</label> <input
        type="text" placeholder="请输入" required [(ngModel)]="con.number"
        value="" name="number" id="number" class="form-control"> 
    </div>
    <button class="btn btn-success btn-block" (click)="add()">提交</button>
</form>


