<div class="content">
    <div class="row">
        <div class="col-lg-1">
            学生
        </div>
        <div data-toggle="buttons" class="btn-group">
        <div class="col-lg-2">
            <input type="checkbox"> 全部
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 查询
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 新增
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 修改
        </div>       
        <div class="col-lg-2">
            <input type="checkbox"> 删除
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 审核
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 其他
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            老师
        </div>
        <div data-toggle="buttons" class="btn-group">
        <div class="col-lg-2">
            <input type="checkbox"> 全部
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 查询
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 新增
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 修改
        </div>       
        <div class="col-lg-2">
            <input type="checkbox"> 删除
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 审核
        </div>
        <div class="col-lg-2">
            <input type="checkbox"> 其他
        </div>
        </div>
    </div>
</div>


